
<div class="ftp_settings_block" style="display:none;">

	<img style="width:40px;float:left;margin-right:10px;" src="<?php echo plugins_url( 'images/ftp_icon.png', dirname(__FILE__)) ?>" />

	<p>Transfer via FTP</p>

	<br style="clear:both;" />

	<br>

					  <strong><label><?php echo __('Settings for the FTP deployment method', 'static-html-output-plugin');?></label></strong>

					<p>


					  <strong><label for="baseUrl"><?php echo __('Base Url', 'static-html-output-plugin');?></label></strong>
					  <p>
						<i><?php echo __("Set this to the URL you intend to host your static exported site on, ie http://mystaticsite.com. Do not set this to the same URL as the WordPress site you're currently using (the address in your browser above). This plugin will rewrite all URLs in the exported static html from your current WordPress URL to what you set here. Supports http, https and protocol relative URLs.", 'static-html-output-plugin');?></i>
					  </p> 
					  <input type="text" id="baseUrl" name="baseUrl" value="<?php echo esc_attr($this->baseUrl) ?>" size="50" placeholder="http://mystaticsite.com" />
					</p>

<?php echo displayCheckbox($this, 'sendViaFTP', 'Transfer files via FTP', 1); ?>

	<?php echo displayTextfield($this, 'ftpServer', 'FTP Server', 'ie, localhost, 192.168.1.7, ftp.mydomain.com, etc'); ?>
	<?php echo displayTextfield($this, 'ftpUsername', 'FTP Username', ''); ?>
	<?php echo displayTextfield($this, 'ftpPassword', 'FTP Password', '', 'password'); ?>
	<?php echo displayTextfield($this, 'ftpRemotePath', 'FTP Remote Path', 'will attempt to create folder recursively if non-existent'); ?>
	<?php echo displayCheckbox($this, 'useActiveFTP', 'Use active FTP (defaults to passive mode) <a href="https://stackoverflow.com/q/1699145/1668057" target="_blank">What\'s the difference?</a>'); ?>

</div>
