
<div class="s3_settings_block" style="display:none;">

	<img style="width:40px;float:left;margin-right:10px;" src="<?php echo plugins_url( 'images/s3_icon.svg', dirname(__FILE__)) ?>" />

	<p>Transfer via S3</p>

	<br style="clear:both;" />

	<br>

					  <strong><label><?php echo __('Settings for the S3 deployment method', 'static-html-output-plugin');?></label></strong>

					<p>


					  <strong><label for="baseUrl"><?php echo __('Base Url', 'static-html-output-plugin');?></label></strong>
					  <p>
						<i><?php echo __("Set this to the URL you intend to host your static exported site on, ie http://mystaticsite.com. Do not set this to the same URL as the WordPress site you're currently using (the address in your browser above). This plugin will rewrite all URLs in the exported static html from your current WordPress URL to what you set here. Supports http, https and protocol relative URLs.", 'static-html-output-plugin');?></i>
					  </p> 
					  <input type="text" id="baseUrl" name="baseUrl" value="<?php echo esc_attr($this->baseUrl) ?>" size="50" placeholder="http://mystaticsite.com" />
					</p>



	<?php echo displayTextfield($this, 's3Key', 'S3 Key', 'ie, ie, AKIAIOSFODNN7EXAMPLE'); ?>
	<?php echo displayTextfield($this, 's3Secret', 'S3 Secret', 'ie, wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY', 'password'); ?>

	<select name="s3Region" id="s3Region">
		<option value="us-east-1">US East (N. Virginia)</option>
		<option value="us-east-2">US East (Ohio)</option>
		<option value="us-west-1">US West (N. California)</option>
		<option value="us-west-2">US West (Oregon)</option>
		<option value="ca-central-1">Canada (Central)</option>
		<option value="ap-south-1">Asia Pacific (Mumbai)</option>
		<option value="ap-northeast-2">Asia Pacific (Seoul)</option>
		<option value="ap-southeast-1">Asia Pacific (Singapore)</option>
		<option value="ap-southeast-2">Asia Pacific (Sydney)</option>
		<option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
		<option value="ap-northeast-3">Asia Pacific (Osaka-Local)</option>
		<option value="eu-central-1">EU (Frankfurt)</option>
		<option value="eu-west-1">EU (Ireland)</option>
		<option value="eu-west-2">EU (London)</option>
		<option value="eu-west-3">EU (Paris)</option>
		<option value="sa-east-1">South America (São Paulo)</option>
		<option value="cn-north-1">China (Beijing)</option>
		<option value="cn-northwest-1">China (Ningxia)</option>
	</select>
	<span class="description">choose the region your bucket is in</span>
	<br>

	<?php echo displayTextfield($this, 's3Bucket', 'S3 Bucket', 'ie, my-static-site'); ?>
	<?php echo displayTextfield($this, 's3RemotePath', 'Subfolder in your bucket', 'ie, static-website'); ?>
	<?php echo displayTextfield($this, 'cfDistributionId', 'CloudFront Distribution ID', 'ie, ABC123DEFX'); ?>

</div>
